<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Suivez les prochaines tempêtes de neige sur les montagnes du Québec.">
    <meta name="author" content="Justin Breton">

    <title>Prochaine tempête!</title>

    <!-- Bootstrap section -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Data tables section -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/5.0.3/css/fixedColumns.dataTables.min.css"/>

    <!-- Leaflet section -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css"
          type="text/css">

    <script data-goatcounter="https://bretonjustin.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>

    <meta name="google-site-verification" content="WdjrVs-UUJNp0Qq4Qa5qak8LQYny6uMgqBmzcMehljE" />

</head>
<body>
<main role="main" class="container">
    <h1 class="mt-4">Prochaine tempête!</h1>
    <p>Tableau classé en ordre décroissant de la quantité de neige annoncée pour les 2 prochains jours.</p>
    <p>Données prises à partir de <a href="https://spotwx.com/" target="_blank">SpotWx</a>. Site web créé par <a
            href="https://justinbreton.ca/" target="_blank">Justin Breton</a>. Code source disponible sur <a href="https://github.com/bretonjustin/prochaine-tempete" target="_blank">GitHub</a>.</p>
    <p>Dernière mise à jour: {{ data.last_update }}</p>
    <p><b>Les valeurs affichées proviennent du modèle HRDPS 2 jours (2.5 km res.).</b></p>

    <table id="myTable" class="table table-striped">
        <thead>
        <tr>
            <th>Montagne</th>
            <th>Région</th>
            <th>Neige (cm)</th>
            <th>Pluie (mm)</th>
            <th>Verglas (mm)</th>
            <th>Grésil (mm)</th>
            <th>Base (cm)</th>

            <th>2 jours</th>
            <th>3.5 jours</th>
            <th>10 jours</th>
            <th>15 jours</th>
            <th>Webcam</th>
        </tr>
        </thead>

        <tbody>

        {% for mountain in data.mountains %}
        <tr>
            <th><a target="_blank" href='{{ mountain["google_map_link"] }}'>{{mountain["name"]}}</a>
            </th>
            <td>{{ mountain["region"] }}</td>
            <td>{{ mountain["snow"] }}</td>
            <td>{{ mountain["rain"] }}</td>
            <td>{{ mountain["freezing_rain"] }}</td>
            <td>{{ mountain["ice_pellets"] }}</td>
            <td>{{ mountain["current_snow_depth"] }}</td>

            <td class="text-nowrap"><a target="_blank" href='{{ mountain["hrdps_link"] }}'
                                       class="btn btn-primary text-wrap"
                                       role="button">HRDPS</a></td>
            <td class="text-nowrap"><a target="_blank" href='{{ mountain["rdps_link"] }}'
                                       class="btn btn-primary text-wrap"
                                       role="button">RDPS</a>&nbsp;<a target="_blank"
                                                                      href='{{ mountain["nam_link"] }}'
                                                                      class="btn btn-primary text-wrap"
                                                                      role="button">NAM</a></td>
            <td class="text-nowrap"><a target="_blank" href='{{ mountain["gdps_link"] }}'
                                       class="btn btn-primary text-wrap"
                                       role="button">GDPS</a>&nbsp;<a target="_blank"
                                                                      href='{{ mountain["gfs_link"] }}'
                                                                      class="btn btn-primary text-wrap"
                                                                      role="button">GFS</a></td>

            <td class="text-nowrap"><a target="_blank" href='{{ mountain["ecmwf_link"] }}'
                                       class="btn btn-primary text-wrap"
                                       role="button">ECMWF</a></td>

            <td class="text-nowrap">
                {% if mountain["webcam_link"] != "" %}
                <a target="_blank" href='{{ mountain["webcam_link"] }}'
                   class="btn btn-secondary text-wrap"
                   role="button">Webcam</a>
                {% else %}
                À venir...
                {% endif %}
            </td>

        </tr>
        {% endfor %}

        </tbody>
    </table>

    <div id="my_chart">
    </div>

    <div id="snow_depth_chart">
    </div>

    <div id="map" style="height:600px;" class="mt-4 mb-4"></div>

    <footer class="container">
        <p>Copyright © 2024 Justin Breton, All Rights Reserved</p>
        <div class="col-12 col-md-4 d-flex justify-content-left align-items-lrft mb-3">
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                    data-name="bmc-button" data-slug="justinbreton" data-color="#FFDD00" data-emoji="☕"
                    data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000"
                    data-font-color="#000000" data-coffee-color="#ffffff"></script>
        </div>
    </footer>

</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/5.0.3/js/dataTables.fixedColumns.min.js"></script>

<script>
    $('#myTable').DataTable(
    {
    paging: false,
    searching: false,
    info: false,
    order: [
            [2, 'desc'],
            [0, 'asc']
            ],
    scrollX: true,
    fixedColumns: {
        left: 1
    },
    columnDefs: [{ orderable: false, targets: 7 }, { orderable: false, targets: 8 }, { orderable: false, targets: 9 }, { orderable: false, targets: 10 }, { orderable: false, targets: 11 }]
    });
</script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    {{ fig | safe }}
</script>

<script>
    {{ snow_depth_plot | safe }}
</script>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<script src="https://unpkg.com/leaflet-gesture-handling"></script>
<script type="text/javascript">
    var map = L.map('map').setView([46.8, -72.3], 7);
    map.gestureHandling.enable();

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    {% for mountain in data.mountains %}

    {% if mountain["snow"] | float >= 25.0 %}
        L.circle([{{ mountain["lat"] }}, {{ mountain["lon"] }}],
            {
                color: '#00f',
                fillColor: '#00f',
                fillOpacity: 0.6,
                radius: 30000
            }
            )
            .bindPopup("{{ mountain['name'] }}: {{ mountain['snow'] }} cm")
            .addTo(map);
    {% elif mountain["snow"] | float >= 15.0 %}
        L.circle([{{ mountain["lat"] }}, {{ mountain["lon"] }}],
            {
                color: '#0cf',
                fillColor: '#0cf',
                fillOpacity: 0.6,
                radius: 20000
            }
            )
            .bindPopup("{{ mountain['name'] }}: {{ mountain['snow'] }} cm")
            .addTo(map);
    {% elif mountain["snow"] | float >= 5.0 %}
        L.circle([{{ mountain["lat"] }}, {{ mountain["lon"] }}],
            {
                color: '#3dd',
                fillColor: '#3dd',
                fillOpacity: 0.6,
                radius: 10000
            }
            )
            .bindPopup("{{ mountain['name'] }}: {{ mountain['snow'] }} cm")
            .addTo(map);
    {% endif %}

    {% endfor %}
</script>

</body>
</html>
